<%- include("partials/header") -%>
<h1>Contact Info</h1>

<h3>Creator : <%=contactContent[0]%></h3><br />
<h3>Gmail :<a href="mailto:<%=contactContent[1]%>"> <%=contactContent[1]%></a></h3> <br />
<h3>Github :<a href="<%=contactContent[2]%>"><%=contactContent[2]%></a></h3><br />
<h3>Linkedin : <a href=" <%=contactContent[3]%>"> <%=contactContent[3]%></a></h3> </br>
<%- include("partials/footer") -%>
